.container-fluid{
    background-color: azure;
}
.jumbotron{
    background-color:azure !important;
    text-align: center;
    color: cyan;
    font-weight: bolder!important;
}
.jumbotron hr{
    
}
.card{
    font-size:30px;
    text-align:center;
    background-color: rgb(192, 229, 229);
    line-height:60px;
    border: none;
    
}
span{
    color: black;
    font-weight:bolder;
}
.card-title {
    padding: 50px;
}
.card-body{

    padding-bottom: 120px;
}
.card h3{
    font-size:40px;
    font-weight:bolder;
}
.card button {
    background-color:cyan;
    margin-top: 70px;
    padding: 3px 30px;
    border: none;
    border-radius:25px;
    
}

.card button:hover {
    background-color:white!important;
    color: cyan;
}